

.mat-form-field {
    padding-right: 40px;
    padding-top: 20px;
}

 .mat-radio-button {
    padding:20px 20px 40px 0px;
} 

.mat-list-item button {
    margin-right: 10px;
    margin-bottom: 10px;
}

 button:hover, button:active {
   opacity: 0.9;
}

.mat-list-item p, .mat-list-item h3 {
    padding-right: 10px;
}
.form button {
    padding: 8px 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
}





